.box{width: 100%; margin: 50px auto; text-align: left; padding: 0 5px;}

/*以下为新的适配*/
.hjarea .swiper-container {
    width: 100%;
    height: 350px;
}

.hjarea-container{
    position: relative;
}

.hjarea .swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hjarea .swiper-slide img {
    display: block;
    width: 100%;
    /*height: 380px;*/
    object-fit: cover;
}

.hjarea .swiper {
    width: 100%;
    height: 560px;
    margin: 20px auto;
    overflow: hidden;
}

.hjarea-pagination{
    bottom: 0px;
}

.hjarea-button-prev{
    top: 50%;
}

.hjarea-button-next{
    top: 50%;
}

.ban_video_player{
    object-fit: cover;width: 100%; height:calc(100vw*920/1920)
}

.hjarea-pagination .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #797979;
}

.hjarea-pagination .swiper-pagination-bullet-active {
    width: 18px;
    height: 18px;
    border: 4px solid #b71e14;
    background:transparent;
    border-radius: 50%;
}

@media screen and (max-width: 1100px){
    .ban_video_player{
        object-fit: cover;width: 100%; height:auto
    }
}